.loader {
  border: 16px solid #f9f9f9;
  border-top: 16px solid darkgreen;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.results {
  margin-top: 5px;
}

.error {
  display: flex;
  justify-content: center;
  width: 200px;
  border: 1px solid darkred;
  padding: 5px;
  color: black;
  background: rgb(255, 0, 0, 0.1);
}

.blue {
  color: blue;
}

.green {
  color: green;
}
